html * {
    margin: 0;
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

body {
    background: #fff;
    color: #333;
    font: 1.1em verdana, arial, helvetica, sans-serif;
}

a:link, a:visited, a:hover {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    color: #48802c;
    font-weight: normal;
    font-size: 1.2em;
    margin: .8em 0 .3em 0;
}

h2 {
    color: #48802c;
    font-weight: normal;
    font-size: 1.1em;
    margin: .1em 0 .3em 0;
}

h3 {
    color: #48802c;
    font-weight: bold;
    font-size: 1.0em;
    margin: .1em 0 .3em 0;
}

ul {
    padding-left: 15px;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

.body {
    float: left;
    margin: 0 15px 10px 15px;
}

/* NAVIGATION MENU */

.nav {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-style: solid none solid none;
    margin-top: 5px;
    padding: 7px 12px;
}

.menuButton {
    font-size: 0.9em;
    padding: 0 5px;
}
.menuButton a {
    color: #333;
    padding: 4px 6px;
}
.menuButton a.home {
    background: url(../images/skin/house.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

.menuButton a.logout {
    background: url(../images/skin/session_logout.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}

/* TABLES */

table {
    border: 1px solid #ccc;
    width: 100%
}
tr {
    border: 0;
}
td, th {
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}
th {
    background: #fff url(../images/skin/shadow.jpg);
    color: #666;
    font-size: 1.0em;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}
th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 0.95em;
    text-decoration: none;
    width: 100%;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7;
}
.even {
    background: #fff;
}

/* LIST */

.list table {
    border-collapse: collapse;
}
.list th, .list td {
    border-left: 1px solid #ddd;
}
.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

/* PAGINATION */

.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 0.95em;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */

.dialog table {
    padding: 5px 0;
}

div.prop {
    display: inline-block;
}
.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    width: 85%;
}

/* ACTION BUTTONS */

.buttons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 0.95em;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
}

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 0.95em;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.show {
    background: transparent url(../images/skin/database_show.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.buttons input.logout {
    background: transparent url(../images/skin/session_logout.png) 5px 50% no-repeat;
    padding-left: 28px;
}

/* Aaron's Custom Styles */


div.button-panel {
	display: inline-block;
	float: left;

	max-width: 3.4em;
	border-color: #dddddd;
	border-style: solid;
	border-width: thin;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;

	padding-left: 0.1em;
	padding-right: 0.1em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;

	margin-bottom: 0.1em;
	margin-right: 0.1em;
	
	background-color: white;
}

div.button-panel a img {
	border: none;
	width: 1.5em;
	height: 1.5em;
}

.destination {
	display: inline-block;
	float: left;
}

fieldset, input, select {
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;
}

#demogLogo {
	margin: 0.5em;
	padding: 0.5em;
	font-size: 1.3em;
	background-color: #efe;
}

#demogLogo a span.subtitle {
	font-size: 0.6em;
}

#demogLogo img {
	padding-bottom: 0.2em;
	vertical-align: middle;
}


.buttons input.cancel {
    background: transparent url(../images/skin/database_cancel.png) 5px 50% no-repeat;
    padding-left: 28px;
}

/* Hide provenance information by default */
div.sticky-note {
	font-size: 0.8em;
	display: block;
	width: 20em;
	height: 20em;
	position: absolute;
	margin-left: 1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	background-color: #fea;
	background-image: url(../images/postit-corner.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	overflow: auto;
	opacity: 0.9;
	border-right-color: #BBB;
	border-right-width: thin;
	border-right-style: solid;
	border-bottom-color: #BBB;
	border-bottom-width: thin;
	border-bottom-style: solid;
}

div.sticky-note h1 {
	color: black;
	font-style: italic;
	padding-bottom: 0.25em;
	border-bottom-color: #BBB;
	border-bottom-width: thin;
	border-bottom-style: solid;
}

div.sticky-note ul {
	list-style: none;
}

div.sticky-note ul li {
	margin-bottom: 0.5em;
}

div.sticky-note q {
	clear: both;
}

div.sticky-note cite {
	font-size: 0.9em;
	text-align: right;
}

div.provenance {
	background-image: url(../images/skin/info.png);
	background-repeat: no-repeat;
	background-position: center left;
	font-size: 0.8em;
	display: block;
	width: 20em;
	min-height: 48px;
	position: absolute;
	margin-left: 1em;
	padding-left: 48px;
	background-color: #EEF;
	opacity: 0.9;
}


div.inactive {
	background-color: #ffe8dd;
	background-image: url(../images/squiggle.png);
}

div.seasonal {
	background-color: #FFC;
}

div.do-not-use {
	background-color: #eee;
	background-image: url(../images/squiggle.png);
}

div.seasonal-active {
	background-color: #DFD;
}

div.seasonal-range {
	color: DarkBlue;
	font-size: 0.9em;
}

span.in-care-of {
	font-size: 0.8em;
	color: black;
}

/* Blocks.  Styles and Sizes */

div.person-contact {
	 display: inline-block;
	 padding: 0.2em;
	-moz-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	top: 0;
}

div.personAddress {
	min-height: 7em;
}

div.person {
	min-height: 6em;
	clear: both;
}

/* remote Links */

.buttons a.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons a.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons a.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons a.show {
    background: transparent url(../images/skin/database_show.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons a.cancel {
    background: transparent url(../images/skin/database_cancel.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.buttons a.logout {
    background: transparent url(../images/skin/session_logout.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.roundrect {
	display: inline-block;
	border-color: #dddddd;
	border-style: solid;
	border-width: thin;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	margin-bottom: 0.2em;
}

span.preferredOrder {
	float: right;
	font-size: 0.6em;
	color: grey;
}
